# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env

# Logs
logs/

# Models
models/*.pkl

# Databases
*.db

# macOS
.DS_Store

# VS Code
.vscode/